fastapi
slowapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
redis
neo4j
python-telegram-bot
web3
eth-account
reportlab
python-dotenv
supabase
pytest
pytest-asyncio
nest_asyncio
